<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sanity" parallel="false">
  <test name="Test+CH">
    <classes>
     
      <class name="testng.programs.GoogleTests"/>
      <class name="testng.programs.GoogleTests1"/>  
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
